USE [SampleDB]
GO
/****** Object:  StoredProcedure [dbo].[RemoveDuplicatesFromDagwDowntimeStatusTable]    Script Date: 8/29/2016 2:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- author:		<Subbu>
-- create date: <29th august 2016>
-- description:	<Removes duplicates from  availability status table>
-- ==========================================================================================
ALTER PROCEDURE [dbo].[RemoveDuplicatesFromDagwDowntimeStatusTable]
	@GATEWAYIDINPUT INT
AS
BEGIN
	-- SET NOCOUNT ON ADDED TO PREVENT EXTRA RESULT SETS FROM
	-- INTERFERING WITH SELECT STATEMENTS.
	SET NOCOUNT ON;


	DECLARE @TEMPCOUNTTBL TABLE (SPID INT, DEPOTID INT, GWID INT, DTS DATETIME, DTE DATETIME, TT INT, CALDATE DATETIME, CTE INT)
	INSERT INTO @TEMPCOUNTTBL
	SELECT A.SVCPROVIDERID, A.DEPOTID, A.GATEWAYID, A.DOWNTIMESTART, A.DOWNTIMEEND, A.TOTALTIME, A.CALENDERDATE, COUNT(*) AS CTE FROM [SampleDB].[DBO].[DAGWDOWNTIMESTATUSTABLE] A
	GROUP BY A.GATEWAYID, A.DOWNTIMESTART, A.DOWNTIMEEND, A.CALENDERDATE, A.DEPOTID, A.SVCPROVIDERID, A.TOTALTIME
	HAVING A.GATEWAYID = @GATEWAYIDINPUT AND COUNT(*) > 1

	--SELECT * FROM @TEMPCOUNTTBL

	DECLARE @RECORDTBL TABLE (RECORDID INT)
	INSERT INTO @RECORDTBL
	SELECT MIN(RECORDID) FROM [SampleDB].[DBO].[DAGWDOWNTIMESTATUSTABLE] A
	GROUP BY A.GATEWAYID, A.DOWNTIMESTART, A.DOWNTIMEEND, A.CALENDERDATE, A.DEPOTID, A.SVCPROVIDERID, A.TOTALTIME
	HAVING A.GATEWAYID = @GATEWAYIDINPUT AND COUNT(*) > 1

	--SELECT * FROM @RECORDTBL;

	DELETE DAGWTBL
	--SELECT DISTINCT DAGWTBL.RECORDID, DAGWTBL.GATEWAYID, DAGWTBL.SVCPROVIDERID, DAGWTBL.TOTALTIME, DAGWTBL.CALENDERDATE
	FROM [SampleDB].[DBO].[DAGWDOWNTIMESTATUSTABLE] DAGWTBL
	INNER JOIN
	@TEMPCOUNTTBL TEMPCNTTBL
	ON
	DAGWTBL.GATEWAYID = TEMPCNTTBL.GWID AND
	DAGWTBL.SVCPROVIDERID = TEMPCNTTBL.SPID AND
	DAGWTBL.DEPOTID = TEMPCNTTBL.DEPOTID AND
	DAGWTBL.DOWNTIMESTART = TEMPCNTTBL.DTS AND
	DAGWTBL.DOWNTIMEEND = TEMPCNTTBL.DTE AND
	DAGWTBL.TOTALTIME = TEMPCNTTBL.TT AND
	DAGWTBL.CALENDERDATE = TEMPCNTTBL.CALDATE
	WHERE
	DAGWTBL.RECORDID NOT IN (SELECT * FROM @RECORDTBL);

	--INSERT INTO [SampleDB].[DBO].[DAGWDOWNTIMESTATUSTABLE]
	--SELECT TEMPTBL.SPID, TEMPTBL.DEPOTID, TEMPTBL.GWID, TEMPTBL.DTS, TEMPTBL.DTE, TEMPTBL.TT, TEMPTBL.CALDATE FROM @TEMPDAGWTBL TEMPTBL

	--SELECT TOP 1000 [RECORDID]
	--     ,[SVCPROVIDERID]
	--     ,[DEPOTID]
	--     ,[GATEWAYID]
	--     ,[DOWNTIMESTART]
	--     ,[DOWNTIMEEND]
	--     ,[TOTALTIME]
	--     ,[CALENDERDATE]
	-- FROM [SampleDB].[DBO].[DAGWDOWNTIMESTATUSTABLE]
	-- WHERE GATEWAYID = 2 AND (CALENDERDATE = '2016-07-05' OR CALENDERDATE = '2016-07-06' OR CALENDERDATE = '2016-07-07 00:00:00.000')

END
